<pre><%= params %></pre>

Vendor name: <%=@vendor.name%><br>
Number of Employees: <%=@vendor.employees%><br>
Market Name: <%=Market.where(id:@vendor.id).first.name%>
<h2><%=link_to "Add a Product", product_new_path %></h2>

<h2>Your Products</h2>
<ul>
<% @products.each do |product|%>
<li><%= link_to product.name, product_path(product.id) %>

	<%= button_to "Edit", product_edit_path, :method => :get, params: {product_id: product.id} %>


	<%= button_to "Delete", product_delete_path, :method => :delete,  data: { confirm: "Are you sure?" }, params: {product_id: product.id} %></li>
	<% end %>
</ul>

<h2>Your Sales</h2>
<ul>
<% @sales.each do |sale|%>
<li>
	Amount: <%= sale.amount %> <br>Product <%= Product.find(sale.product_id).name %><br>Purchase Time <%= sale.purchase_time.month %>
</li>
<% end %>
</ul>
<h2><%=link_to "Add a Sale", sale_new_path %></h2>


<h2>Sum of All Sales</h2>
<%sum = 0 %>
<% @sales.each do |sale| %>
	<% sum += sale.amount %>
<% end %>
<%= sum %>

<%= @sales.inject(0) { |sum, sale| sum + sale.amount } %>

<h2>Sales of the current month</h2>
<% @sales.each do |sale| %>
	<%  if sale.purchase_time.month == DateTime.now.month %>
		<ul>
			<li> Amount: <%= sale.amount %></li>
			<li> Product <%= Product.find(sale.product_id).name %></li>
			<li> Purchase Time <%= sale.purchase_time.strftime('%d-%m-%Y at %I:%M:%S %p') %></li>
		</ul>
	<% else %>
		<%= "You do not have sales for the current month" %>
	<% end %>
<% end %>
