
<%=params%>


<div class="tittle"><h1>HI!! Let's <%= @market.name %> where id is <%= @market.id %>!</h1></div>
<div class="form">
<%= form_for @market, class: "main-form" do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<br>

<%= f.submit %>
<% end %>
</div>
