<ul>
	<li class="button">
		<%= link_to "Add New Market", new_market_path %>
	</li>
	<li class="button">
		<%= link_to "Add New vendor", new_vendor_path %>
	</li>
</ul>

<main>

<%= form_tag(market_path(:q), method: "get") do %>
  <%= label_tag(:q, "Search Market with ID:") %>
<%= text_field_tag :q %>
  <%= submit_tag("Search") %>
<% end %>

<br>
<br>
<br>

<%= form_tag(vendor_search_path, method: "get") do %>
  <%= label_tag(:q, "Search Vendor with ID:") %>
<%= text_field_tag :q %>
  <%= submit_tag("Search") %>
<% end %>
</main>
