<ul>
	<li class="button">
		<%= link_to "Add New Market", new_market_path %>
	</li>
	<li class="button">
		<%= link_to "Add New vendor", new_vendor_path %>
	</li>
</ul>

<main>

<%= form_tag(search_market_path, method: :get) do %>
  <%= label_tag(:my_name, "Search Market with ID:") %>
<%= text_field_tag :id %>
  <%= submit_tag("Search") %>
<% end %>

<br>
<br>
<br>

<%= form_tag(search_vendor_path, method: :get) do %>
  <%= label_tag(:my_name, "Search Vendor with ID:") %>
<%= text_field_tag :id %>
  <%= submit_tag("Search") %>
<% end %>
</main>
