<pre><%= params %></pre>

<ul>
<li>
<%= link_to "Add New Market", new_market_path %>
</li>
<li>
<%= link_to "Add New vendor", vendor_new_path %>
</li>
</ul>

<br>
<br>
<br>

<%= form_tag(search_market_path, method: "get") do %>
  <%= label_tag(:q, "Search Market with ID:") %>
<%= text_field_tag :q, "Enter Market ID" %>
  <%= submit_tag("Edit") %>
<% end %>

<br>
<br>
<br>
