<h1><%= @market.name %> info</h1>
<ul>
	<li>Name: <%= @market.name %></li>
	<li>Address: <%= @market.address %></li>
	<li>City: <%= @market.city %></li>
	<li>County: <%= @market.county %></li>
	<li>State: <%= @market.state %></li>
	<li>Zip: <%= @market.zip %></li>
</ul>