<main>
	<% if @market.errors.any? %>
	    <% @market.errors.each do |column, message| %>
	      <%  flash[:error] = "#{column.capitalize}: #{message} "%>
	    <% end %>
	<% end %>

	<ul class="product-list-ul">
		<li><h2><%= @market.name %></h2></li>
		<li><%= @market.address %></li>
		<li><%= @market.city %></li>
		<li><%= @market.county %></li>
		<li><%= @market.state %></li>
		<li><%= @market.zip %></li>
		<li class="product-list"><%= button_to "Edit", edit_market_path(@market), method: :get %></li>
		<li class="product-list"><%= button_to "Delete", @market, method: :delete, data: { confirm: "Are you sure?" } %></li>
	</ul>
	<div class="list">
		<h3>List of vendors</h3>
		<ul>
		<% @vendors.each do |vendor|%>
			<li class="vendor-list">Name: <%= vendor.name %>, No. Employees: <%= vendor.employees %></li>
		<% end %>
		</ul>
	</div>
</main>
