<main>
	<h2>You are editing <%= @product.name %></h2>

	 <%= form_for [@vendor, @product] do |f| %>
	<ul>
		<li><%= f.label :"Your new product's name" %>
		  <%= f.text_field :name %>
		  <%= f.hidden_field :vendor_id, value: params[:vendor_id] %>
		  <%= f.submit %></li>
		<% end %>
	</ul>
</main>
