<pre><%= params %></pre>
<pre><%= @product.class %></pre>


<%= form_for @product, url: product_new_path do |f| %>


<table>
Product Name:	<td><%= f.label :name %>
  <%= f.text_field :name %></td>
Vendor ID:  <td><%= f.label :vendor_id %>
  <%= f.text_field :vendor_id %></td>
  <td><%= f.submit %></td>
<% end %>
</table>